<div class="col-md-4">
  <%= link_to bookmark.address, bookmark.address %>
  <%= render partial: 'favorites/favorite', locals: {bookmark: bookmark} %>
   <a href="#" class="thumbnail">
  <%= image_tag("filler.svg") %>
   </a>

</div>
