<div class="bg-primary">
</div>
<div class="container">
    <%= @topic ? @topic.topic : "All Topics" %>

  <div class="row">
    <%= render partial: "bookmark", collection: @bookmarks, locals: {column: "col-md-4"} %>
  </div>
</div>
