<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>With Blockmarks you can:</h2>
        <ul>
          <li>Add a hashtag to your email to provide a category for easy grouping.</li>
          </br>
          <li>Login to the system and see all the bookmarks you've sent by category.</li>
          </br>
          <li>See ALL bookmarks sent by everyone organized by topic.</li>
          </br>
          <li>"Like" and "unlike" other bookmarks to add/remove to your personal list.</li>
          </br>
          <li>Click a hashtag to see bookmarks with the same category.</li>
          </br>
        </ul>
      </div>
    </div>
  </div>
</div>