<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>About blockmarks:</h2>
      <p> Blocmarks is a web service that allows you to bookmark URLs via email, peruse other user's bookmarks and maintain a personal index of categorized bookmarks. </p> 
      <p>With blocmarks you can:</p>
      <ul>
        <li>Sign up for a free account (required to use blocmarks).</li>
        <li>Email a URL to blocmarks and have it saved in the blocmarks database.</li>
        <li>Add a hashtag to an email subject so that  bookmarks are categorized.</li>
        <li>View an index of all the bookmarks you've saved, organized by topic.</li>
        <li>View an index of all bookmarks submitted by all users, organized by topic.</li>
        <li>"Like" or "unlike" another user's bookmark, so that it will appear (or disappear) on your personal bookmark index.</li>
        <li>Delete a bookmark from your personal index.</li>
        <li>Select bookmarks by their #hashtags (topics).</li>
      </ul>
    </div>
  </div>
</div>
