<div class="jumbotron">
  <div class="container">
    <div class="row">
    <div class='col-md-6'>
      <%= image_tag 'https://s3-us-west-1.amazonaws.com/blocmarks/screenshot.png' , size: "440x280"%>
    </div>
      <div class="col-md-6 text-right">
        <h2>Blocmark It!</h2>
            <p>See your bookmarks wherever you go.</p>
            <p>Any computer, Any device, Always find your bookmarks.</p>
            <p>Share your bookmarks with others.</p>
            <p>Discovery new places on the web from others.</p>
          
            <blockquote class='blockquote-reverse'><em>With Blocmarks I can access my favorite bookmarks from anywhere and share with others.</em>
              <footer>anonymous blocmarks user</footer>
            </blockquote>
      </div>
    </div>
  </div>
</div>