
 @import "bootstrap";

  body {
    // background-color: #b2b2b2;
    // background-image:  url(/assets/green_dust_scratch.png)
    // background-color: #0099FF;
    // background-color: rgba(0, 153, 255, .3);
    padding-top: 120px;
    // font-family: 'Open Sans', sans-serif;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

  .navbar-nav,
  .navbar-right {
    font-size: 16px;
  }

  .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  // Classes
.pull-left {
  float: left !important;
}
.pull-right {
  float: right !important;
}

 .thumbnail{
  height: 260px;
  width: 282px;
 }

