
 @import "bootstrap";

  body {
    // background-color: #b2b2b2;
    background-image:  url(/assets/green_dust_scratch.png)
    // background-color: #0099FF;
    // background-color: rgba(0, 153, 255, .3);
  }
  

.container {
  margin-top: 20px;
  background-color: rgba(0, 153, 255, .3);
  border-radius: 30px;

}

.row {
  // padding: 0px 20px 10px 20px;
}

.user-info {
   margin: 40px;
 }
 
 .nav {
   margin: 5px;
 }

 .favorite {
   // margin: 10px 0px;
 }

 .thumbnail{
  height: 260px;
  width: 282px;
 }


 .btn {
 }
